.card-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
.card{
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: .25rem  ;
     padding:.5rem;
     transform: translateX(100px);
     opacity: 0;
     transition: 150ms;

}
.card.show{
    transform: translateX(0);
    opacity: 1  ;
}